.box1{
    width: 450px;
    height: 600px;
    border: 2px solid black;
    display: inline-block;
    border-radius: 18px;
    margin-right: 40px;
    margin-top: 100px;
    margin-left: 150px;
    background-color: rgb(213,234,243);




}
#take{
    pa
}
#view{
    color:rgb(0,32,138);
    font-weight: bold;
    padding-left: 200px;
}
.box2{
    width: 450px;
    height: 600px;
    border: 2px solid black;
    border-radius: 18px;
    margin-left: 670px;
    margin-top: 800px;
    margin-top: -750px;
    background-color: rgb(238,239,189);
}
#box3{
    width: 450px;
    height: 600px;
    border: 2px solid black;
    border-radius: 18px;
    margin-top: 180px;
    margin-left: 150px;
    background-color: rgb(224,213,192);

    
}
#box4{
    width: 450px;
    height: 60px;
    border: 2px solid black;
    border-radius: 18px;
    margin-left: 670px;

    margin-top: -750px;
    background-color: rgb(223,213,232);

}
.main{5

}

}